/* Card Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* Four cards in one row */
  gap: 20px;
  /* Space between cards */
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  /* Center the container */
}

.main-container {
  /* box-shadow: 0 0 90px 37px #d8ede8; */
}

.internal-container {
  background-color: var(--global-background) !important;
  padding-bottom: 20rem !important;

}


/* Individual Card */
.card {
  min-width: 13rem;
  background: transparent !important;
  /* border: 1px solid var(--heading-color) !important; */
  border-radius: 10px;
  padding: 20px;
  max-width: fit-content;
  box-shadow: 0 10px 25px rgb(57 127 91);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  cursor: pointer;
}
.card-parent{
  width: 10rem;
}
.search-product {
  min-width: 259px;
}

.off{
  
}

.card:hover {
  /* transform: scale(1.5); */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  /* font-size: 0.9rem;
  margin-bottom: 5px; */
  color: #555;
}

.card .img {
  /* min-height: 182px;
      max-width: fit-content; */
}

@media (max-width: 768px) {
  .card-img-top {
    height: 107px !important;
  }

}